{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    {% for listing in listings %}
    <div id = "list" style="display: flex; flex-direction: row; margin:10px;">
        <img src="{{listing.listing.img}}" style="height:100px; margin:10px;">
        <div id = "list" style="display: flex; flex-direction: column;">
        <a id="list" href="{% url 'listing' listing.listing.id %}">{{listing.listing.title}}</a>
        <h6>Price: ${{listing.listing.startingbid}}</h6>
        <p>{{listing.listing.desc}}</p>
        <p style="color:gray; font-size:12px;">Created: {{listing.listing.timestamp}} UTC</p>
        </div>
        <form action="/watchlist" method="POST">
            {% csrf_token %}
            <input name="item"  value="{{listing.listing.id}}" type="hidden">
            <button type="submit" style="background-color:red; color:white; border-style:none;">Delete</button>
        </form>
    </div>

    {% endfor %}
{% endblock %}